extends layout

block variables
    - var title = "Open Door"

block content
    h2.text-center Open Door@WhydahLabs

    .row
        .offset-sm-2.col-sm-8
            .jumbotron.text-center.
                Your door should open,